In [76]:
# Importing libraries 
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [77]:
# Importing customer dataframe
path = r'C:\Users\ztrim\06-2025 Instacart Basket Analysis'

In [78]:
path

'C:\\Users\\ztrim\\06-2025 Instacart Basket Analysis'

In [79]:
# Import customers dataframe
df_customers = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'customers.csv'), index_col = False)

In [80]:
# Check customers dataframe 
df_customers.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

## Part 1, step 4 - Wrangle the data so that it follows consistent logic

In [81]:
# I checked for inconsistant column names and rename them to be more descriptive and easier to use with Python.
df_customers.rename(columns={
    'First Name': 'first_name',
    'Surnam': 'surname',
    'Gender': 'gender',
    'STATE': 'state',
    'Age': 'age',
    'n_dependants': 'num_dependents'
}, inplace=True)

In [82]:
# Check if everything changed as I wanted 
df_customers.head()

,user_id,first_name,surname,gender,state,age,date_joined,num_dependents,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [83]:
# Notes: I didn't drop any columns as they are all needed.
# Check the data type to see if I need to convert anything 
df_customers.dtypes

user_id            int64
first_name        object
surname           object
gender            object
state             object
age                int64
date_joined       object
num_dependents     int64
fam_status        object
income             int64
dtype: object

In [84]:
# I will convert `user_id` to string since it's an identifier.
df_customers['user_id'] = df_customers['user_id'].astype('str')

In [85]:
# Check the data type again
df_customers.dtypes

user_id           object
first_name        object
surname           object
gender            object
state             object
age                int64
date_joined       object
num_dependents     int64
fam_status        object
income             int64
dtype: object

## Part 1, step 5 - Complete the fundamental data quality and consistency checks

In [86]:
 # Checking for mixed type columns: 
for col in df_customers.columns:
    weird = (df_customers[[col]].applymap(type) != df_customers[[col]].iloc[0].apply(type)).any(axis=1)
    if weird.any():
        print(col)

C:\Users\ztrim\AppData\Local\Temp\ipykernel_27544\786958518.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customers[[col]].applymap(type) != df_customers[[col]].iloc[0].apply(type)).any(axis=1)
C:\Users\ztrim\AppData\Local\Temp\ipykernel_27544\786958518.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customers[[col]].applymap(type) != df_customers[[col]].iloc[0].apply(type)).any(axis=1)
C:\Users\ztrim\AppData\Local\Temp\ipykernel_27544\786958518.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customers[[col]].applymap(type) != df_customers[[col]].iloc[0].apply(type)).any(axis=1)
C:\Users\ztrim\AppData\Local\Temp\ipykernel_27544\786958518.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customers[[col]].applymap(type) != df_customers[[col]].iloc[0].apply(type)).any(axis=1)
C:\Users\ztrim\AppData\Local\Temp\ipykernel_27544\786958518.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customers[[col]].applymap(type) != df_customers[[col]].iloc[0].apply(type)).any(axis=1)
C:\Users\ztrim\AppData\Local\Temp\ipykernel_27544\786958518.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customers[[col]].applymap(type) != df_customers[[col]].iloc[0].apply(type)).any(axis=1)
C:\Users\ztrim\AppData\Local\Temp\ipykernel_27544\786958518.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customers[[col]].applymap(type) != df_customers[[col]].iloc[0].apply(type)).any(axis=1)
C:\Users\ztrim\AppData\Local\Temp\ipykernel_27544\786958518.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customers[[col]].applymap(type) != df_customers[[col]].iloc[0].apply(type)).any(axis=1)
C:\Users\ztrim\AppData\Local\Temp\ipykernel_27544\786958518.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customers[[col]].applymap(type) != df_customers[[col]].iloc[0].apply(type)).any(axis=1)
C:\Users\ztrim\AppData\Local\Temp\ipykernel_27544\786958518.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_customers[[col]].applymap(type) != df_customers[[col]].iloc[0].apply(type)).any(axis=1)

first_name

In [87]:
# first_name needs to be converted to consistent type 
df_customers['first_name'] = df_customers['first_name'].astype('str')

In [88]:
# Checking dataframe for duplicates 
df_customers[df_customers.duplicated()]

Empty DataFrame
Columns: [user_id, first_name, surname, gender, state, age, date_joined, num_dependents, fam_status, income]
Index: []

In [89]:
# Notes: No duplicates are present 

# Checking dataframe for missing values 
df_customers.isnull().sum()

user_id           0
first_name        0
surname           0
gender            0
state             0
age               0
date_joined       0
num_dependents    0
fam_status        0
income            0
dtype: int64

In [90]:
# Notes: No missing values are present 
# Check the dataframe's stats to finish the checking process 
df_customers.describe()

                 age  num_dependents         income
count  206209.000000   206209.000000  206209.000000
mean       49.501646        1.499823   94632.852548
std        18.480962        1.118433   42473.786988
min        18.000000        0.000000   25903.000000
25%        33.000000        0.000000   59874.000000
50%        49.000000        1.000000   93547.000000
75%        66.000000        3.000000  124244.000000
max        81.000000        3.000000  593901.000000

In [91]:
df_customers.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'customers_cleaned.csv'), index=False)

In [92]:
df_customers.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'customers_cleaned.pkl'))