In [30]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [31]:
# Importing the products.csv and orders_wrangled files into a DataFrame

In [32]:
path = r'C:\Users\ztrim\06-2025 Instacart Basket Analysis'

In [33]:
path

'C:\\Users\\ztrim\\06-2025 Instacart Basket Analysis'

In [34]:
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)

In [35]:
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'), index_col = False)

# Data Consistancy Checks

In [36]:
# Create a dataframe
df_test = pd.DataFrame()

In [37]:
# Create a mixed type column 
df_test['mix'] = ['a','b', 1, True]

In [38]:
# To test what I created 
df_test.head()

    mix
0     a
1     b
2     1
3  True

In [39]:
# convert a column’s data type from numeric to string
df_test['mix'] = df_test['mix'].astype('str')

In [40]:
# check for missing values
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [41]:
# Create subset of data frame
df_nan = df_prods[df_prods['product_name'].isnull()==True]

In [42]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [43]:
# Compare the number of rows in your current dataframe
df_prods.shape

(49693, 5)

In [46]:
# Create a new dataframe 
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [49]:
df_prods_clean.shape

(49677, 5)

In [51]:
# Finding duplicates 
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [52]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [53]:
df_prods_clean.shape

(49677, 5)

In [55]:
# Create a new dataframe that doesn’t include the duplicates just identified
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [56]:
df_prods_clean_no_dups.shape

(49672, 5)

In [57]:
# Export the cleaned dataframe for df_prods
df_prods_clean_no_dups.to_csv(os.path.join(path, '02 Data','Prepared Data', 'products_checked.csv'))

## Exercise 4.5 2 - 9 Data Consistancy checks

In [63]:
# 2. Run the df.describe() function on your df_ords dataframe
df_ords.describe()

,Unnamed: 0,order_id,user_id,customers_current_order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [62]:
# Answer to question 2: 
# After reviewing the columns in the df_ords dataframe, most values appear to be within expected ranges. The only potential issue is the 'Unnamed: 0' column, unsure if it's even needed.

In [64]:
# 3. Check for mixed-type data in your df_ords dataframe
for col in df_ords.columns.tolist():
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords[weird]) > 0:
    print (col)

C:\Users\ztrim\AppData\Local\Temp\ipykernel_32048\2291448502.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\ztrim\AppData\Local\Temp\ipykernel_32048\2291448502.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\ztrim\AppData\Local\Temp\ipykernel_32048\2291448502.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\ztrim\AppData\Local\Temp\ipykernel_32048\2291448502.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\ztrim\AppData\Local\Temp\ipykernel_32048\2291448502.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\ztrim\AppData\Local\Temp\ipykernel_32048\2291448502.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\ztrim\AppData\Local\Temp\ipykernel_32048\2291448502.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)

In [67]:
df_ords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
 #   Column                          Dtype
---  ------                          -----
 0   Unnamed: 0                      int64
 1   order_id                        int64
 2   user_id                         int64
 3   customers_current_order_number  int64
 4   orders_day_of_week              int64
 5   order_hour_of_day               int64
 6   days_since_prior_order          float64
dtypes: float64(1), int64(6)
memory usage: 182.7 MB

In [69]:
# 4. No mixed-type data was found.

In [70]:
# 5. Run a check for missing values in your df_ords dataframe
df_ords.isnull().sum()

Unnamed: 0                             0
order_id                               0
user_id                                0
customers_current_order_number         0
orders_day_of_week                     0
order_hour_of_day                      0
days_since_prior_order            206209
dtype: int64

In [71]:
df_ords

,Unnamed: 0,order_id,user_id,customers_current_order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,NaN
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0
...,...,...,...,...,...,...,...
3421078,3421078,2266710,206209,10,5,18,29.0
3421079,3421079,1854736,206209,11,4,10,30.0
3421080,3421080,626363,206209,12,1,12,18.0
3421081,3421081,2977660,206209,13,1,12,7.0
3421082,3421082,272231,206209,14,6,14,30.0

In [72]:
# Answer to question 5
# The `days_since_prior_order` column has 206,209 missing values. This happens because it’s the customer’s first order, so there is no previous order to compare. These missing values are expected and not a problem.

In [75]:
# 6. Address the missing values using an appropriate method:
# Answer to question 6: 
# No need to remove these missing values.

In [76]:
# 7. Run a check for duplicate values in your df_ords data.
df_ords[df_ords.duplicated()]

Empty DataFrame
Columns: [Unnamed: 0, order_id, user_id, customers_current_order_number, orders_day_of_week, order_hour_of_day, days_since_prior_order]
Index: []

In [77]:
df_ords

,Unnamed: 0,order_id,user_id,customers_current_order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,NaN
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0
...,...,...,...,...,...,...,...
3421078,3421078,2266710,206209,10,5,18,29.0
3421079,3421079,1854736,206209,11,4,10,30.0
3421080,3421080,626363,206209,12,1,12,18.0
3421081,3421081,2977660,206209,13,1,12,7.0
3421082,3421082,272231,206209,14,6,14,30.0

In [78]:
# 7 and 8
# Answer: No duplicates were found.

In [83]:
# Export the cleaned dataframe for df_ords
df_ords.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_checked.csv'))