In [1]:
#Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Importing the orders_products_combined dataframe
path = r'C:\Users\ztrim\06-2025 Instacart Basket Analysis'

In [3]:
path

'C:\\Users\\ztrim\\06-2025 Instacart Basket Analysis'

In [4]:
orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [5]:
# 4. Check shape of the orders_products_combined Dataframe
orders_products_combined.shape

(32434489, 12)

In [6]:
# 5. Importing the df_prods Dataframe
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [7]:
# Check shape of the df_prods Dataframe
df_prods.shape

(49672, 6)

In [8]:
# 6. Merge 'Orders_products_combined' and df_prods' Dataframes
ords_prods_merge = orders_products_combined.merge(df_prods , on = ['product_id'] , indicator = 'match' )

In [9]:
# 7. Export the newly created dataframe as ords_prods_merge 
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge.pkl'))

In [10]:
# Checking if data merged correctly
ords_prods_merge. shape

(32404859, 18)

In [11]:
ords_prods_merge.head()

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,customers_current_order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices,match
0,0,0,2539329,1,1,2,8,NaN,196,1,0,both,195,Soda,77,7,9.0,both
1,0,0,2539329,1,1,2,8,NaN,14084,2,0,both,14084,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both
2,0,0,2539329,1,1,2,8,NaN,12427,3,0,both,12427,Original Beef Jerky,23,19,4.4,both
3,0,0,2539329,1,1,2,8,NaN,26088,4,0,both,26089,Aged White Cheddar Popcorn,23,19,4.7,both
4,0,0,2539329,1,1,2,8,NaN,26405,5,0,both,26406,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both